@import 'theme/variables';
@import 'theme/mixins';

.registerForm {
	background-color: $hawkesblue;
	padding: 40px 60px;
	width: 460px;
	-webkit-box-shadow: 0px 7px 43px -13px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 7px 43px -13px rgba(0,0,0,0.47);
	box-shadow: 0px 7px 43px -13px rgba(0,0,0,0.47);
	button {
		min-width: inherit;
		margin-bottom: 20px;
		width: 100%;
	}
}

@media screen and (max-width: 480px){
	.registerForm{
		border: none;
		padding: 15px;
		width: 100%;
	}
}